div.s49229[role="styleWrap"] {
.p430 #content img.major {
    max-width: 950px;
    margin-left: -175px;
}
.p430 #container {
    width: 600px;
}

.p62 #content img.major {
    max-width: 9999px;
    margin-left: -175px;
}

.p331 #content {
    width: 600px;
}
.p62 #content .wide_image_container img {
    max-width: 950px;
    margin-left: -175px;
}

.p62 #content .normal_image_container img {
    margin: 0 -25px;
    margin-bottom: 0px;
}
}
